<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In Page</title>
</head>
<body>
<h1>Sign In Page....</h1>
<form method="POST" action="usersignin" >
    {% csrf_token %}
    <table >
        <tr>
            <td>User Name</td>
            <td><input type="text" name="uname" value="{{User}}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="passwd" value="{{Pass}}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" name= "chk"> Remember me </td>
        </tr>
        <tr>

            <td><button type="submit" value="SignIp">Sign In</button></td>
        </tr>
    </table>
    {% for m in messages %}
        <h1>{{m}}</h1>
    {% endfor %}
</form>
</div>
</body>
</html>